<h2>leave-detail</h2>
<hr>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>leaveType</td>
                    <td>{{leave.leaveType}}</td>
                </tr>
                <tr>
                    <td>noOfDays</td>
                    <td>{{leave.noOfDays}}</td>
                </tr>
                <tr>
                    <td>reason</td>
                    <td>{{leave.reason}}</td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>{{leave.status}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-outline-warning">Remind</button>
    <button type="button" class="btn btn-outline-danger">Cancel</button>
</div>