<h1>Hey! {{userName}}</h1>

<div class="row">
    <div class="col-md-5">
        <table class="table">
            <tbody>
                <tr>
                    <td>Image here!
                        <img src="" alt="">
                    </td>
                </tr>
                <tr>
                    <td>{{userName}}</td>
                </tr>
                <tr>
                    <td>{{userEmail}}</td>
                </tr>
                <tr>
                    <td>{{userPhoneNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>